.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: #f1f1f5 1px solid;
  }
  
  .logo {
    font-weight: bold;
    margin-left: 10px;
  }


  .img {
    width: 20%;
    aspect-ratio: 3/2;
    object-fit: contain;
   mix-blend-mode: color-burn;
  }

  
  .links {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transform: translateX(-50%);
  }
  
  @media screen and (max-width: 768px) {
    .links {
      display: none;
    }
  }
    
  

  .underlineAnimation {
    display: inline-block;
    position: relative;

  }
  
  .underlineAnimation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underlineAnimation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top:0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 20;
  }
  
  .sidenav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;

  }

  .sidenav button {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    z-index: 20;

  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) to control the transparency */
    z-index: 10; /* Adjust the z-index to make sure it covers other elements */
  }
  